:root {
  /* ### Define colors of the project */
  /* Primary */
  --Tomato: hsl(4, 100%, 67%);
  /* Neutral */
  --DarkSlateGrey: hsl(234, 29%, 20%);
  --CharcoalGrey: hsl(235, 18%, 26%);
  --TomatoLight: hsl(5, 100%, 95%);
  --Grey: hsl(231, 7%, 60%);
  --White: hsl(0, 0%, 100%);

  /* ### Define padding and gap of the project */
  --layout-gap: 1.65rem;
  --layout-padding: 2.8rem;
}

/* ### Define Fonts */
/* roboto-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/roboto-v32-latin-regular.woff2") format("woff2");
}
/* roboto-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/roboto-v32-latin-700.woff2") format("woff2");
}

/* ### Start styling  */
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--CharcoalGrey);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.signup {
  background-color: var(--White);
  display: grid;
  max-width: 23.5rem;
  min-height: 100vh;
}
.signup__header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}
.signup__header__image {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  height: 17.75rem;
}
.signup__form {
  padding: var(--layout-gap);
}
.signup__title {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--DarkSlateGrey);
}
.signup__description {
  font-size: 1rem;
  font-weight: 400;
  color: var(--DarkSlateGrey);
  padding-top: 0.7rem;
}
.signup__benefits {
  font-size: 1rem;
  font-weight: 400;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  list-style-type: none;
}
.signup__benefit-item {
  font-size: 1rem;
  font-weight: 400;
  position: relative; /* for the icon list SVG */
  padding-left: 2.3rem;
  padding-bottom: 0.5rem;
}
.signup__benefit-item:nth-child(2) {
  font-size: 1rem;
  font-weight: 400;
  position: relative; /* for the icon list SVG */
  padding-left: 2.3rem;
  padding-bottom: 0.7rem;
}
.signup__benefit-item::before {
  content: url("./assets/images/icon-list.svg");
  position: absolute;
  left: 0%;
  top: 18%; /* Aligne verticalement */
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
}
.signup__benefit-item:nth-child(3)::before {
  top: 25%; /* Aligne verticalement */
}
.signup__form-element {
  display: flex;
  padding-top: 1.3rem;
  flex-direction: column;
}
.signup__form-element--container {
  display: contents;
}
.signup__label {
  font-weight: 700;
  font-size: 0.7rem;
  color: var(--DarkSlateGrey);
  padding-bottom: 0.5rem;
}
.signup__input-container {
  display: flex;
  justify-content: space-between;
}
.signup__input {
  padding: 1rem;
  border-style: outset;
  border-radius: 0.5rem;
  border: 1px solid var(--Grey);
  color: var(--CharcoalGrey);
}

.signup__input:active {
  cursor: pointer;
  border: 1px solid var(--Grey);
}
.signup__input:focus {
  outline: none;
  border-color: var(--DarkSlateGrey);
}
.signup__error-message {
  display: none; /* Hide by default */
}
.signup__submit-btn {
  margin-top: 1.4rem;
  border-radius: 0.5rem;
  padding: 1rem;
  border: none;
  background-color: var(--DarkSlateGrey);
  color: var(--White);
  font-weight: 700;
}
.signup__submit-btn:active {
  border: 1px solid var(--Tomato);
  background: linear-gradient(90deg, #ff5476, var(--Tomato) 50%);
  color: var(--White);
  box-shadow: 1px 10px 15px var(--TomatoLight);
  cursor: pointer;
}
/* ### Styling of the Error State */
/* Will use .signup__input-container.error and toggle .error class in javascript */
.signup__input-container.error .signup__error-message {
  display: inline; /* Show error message */
  top: 0.5rem;
  right: 0;
  color: var(--Tomato);
  font-weight: 700;
  font-size: 0.8rem;
}
/* Change color input in error State */
.signup__input-container.error .signup__input {
  padding: 1rem;
  border-style: outset;
  border-radius: 0.5rem;
  border: 1px solid var(--Tomato);
  background-color: var(--TomatoLight);
  color: var(--Tomato);
}
.signup__input-container.error .signup__input::placeholder {
  /* May be not necessary */
  color: var(--Tomato);
}

/*### STYLING SUCCESS MESSAGE */
.success-message {
  position: fixed;
  display: none; /* Will be activate in javascript when email input is successfull */
  flex-direction: column;
  justify-content: center;
  max-width: 23.5rem;
  min-height: 100vh;
  background-color: var(--White);
  padding: 1.5rem;
  overflow: hidden;
}
.success-message__container {
  padding-top: 8.5rem;
}
.success-message__icon {
  width: 4rem;
}
.success-message__title {
  padding-top: 2.5rem;
  font-weight: 700;
  font-size: 2.5rem;
  word-break: normal;
  overflow-wrap: break-word;
  hyphens: auto;
  line-height: 1;
  color: var(--DarkSlateGrey);
}
.success-message__description {
  padding-top: 1.3rem;
  font-weight: 400;
  font-size: 1rem;
  color: var(--DarkSlateGrey);
}
.success-message__dismiss-btn {
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  margin-top: auto;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  background-color: var(--DarkSlateGrey);
  color: var(--White);
  cursor: pointer;
}
.success-message__dismiss-btn:active {
  border: 1px solid var(--Tomato);
  background: linear-gradient(90deg, #ff5476, var(--Tomato) 50%);
  color: var(--White);
  box-shadow: 1px 10px 15px var(--TomatoLight);
}
/* ### Attribution */
.attribution {
  display: none;
}

/* ### MEDIA QUERIES */

@media (min-width: 950px) {
  body {
    font-family: "Roboto", sans-serif;
    background-color: var(--CharcoalGrey);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 100vh;
  }
  .signup {
    background-color: var(--White);
    display: grid; /* will change display to none in javascript when email is successfull */
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    max-width: 58rem;
    min-height: auto;
    border-radius: 2rem;
    padding: 1.5rem 1.5rem 1.5rem 2rem;
  }
  .signup__header__image {
    display: none;
  }
  .signup__header {
    grid-column: 2/3;
    grid-row: 1;
    height: 100%;
    margin-left: 2.2rem;
    background-image: url(./assets/images/illustration-sign-up-desktop-noborderRadius.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 37rem;
    max-width: 25rem;
  }
  .signup__form {
    margin-top: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 3rem;
  }
  .signup__title {
    font-size: 3.5rem;
  }
  /*### STYLING SUCCESS MESSAGE */
  .success-message {
    position: fixed;
    display: none; /*will be activate in javascript when email is successfull */
    flex-direction: column;
    justify-content: center;
    max-width: 31.5rem;
    min-height: 32.75rem;
    max-height: 32.75rem !important;
    background-color: var(--White);
    padding: 3rem 4rem 3rem 4rem;
    overflow: hidden;
    border-radius: 2rem;
  }
  .success-message__container {
    padding-top: 0;
  }
  .success-message__title {
    font-size: 3.5rem;
  }
  .success-message__description {
    padding-top: 1.3rem;
  }
  .success-message__dismiss-btn {
    margin-bottom: 1rem;
  }
}
